.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

a {
  color: rgb(70, 50, 91);
}

.dogList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  width: 30vw;

}

.dog {
  height: 8vh;
  width: 90%;
  /* margin: 2px auto; */
  background-color: aquamarine;
}