.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

a {
  color: rgb(70, 50, 91);
}

.dogList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;

}

.dog {
  height: 8vh;
  width: 50%;
  /* margin: 2px auto; */
  background-color: aquamarine;
}

ul {
  list-style-type: none;
}

li {
  margin: 2px;
}

.export {
  margin: 20px auto;
}